$boolflix-primary: #f00e18;
$boolflix-secondary: #313131;
$boolflix-lighter: #dfdfdf;
$boolflix-darker: #000000;


.font-light {
    font-weight: 300;
    font-style: normal;
}

.font-regular {
    font-weight: 400;
    font-style: normal;
}

.font-medium {
    font-weight: 500;
    font-style: normal;
}

.font-bold {
    font-weight: 700;
    font-style: normal;
}

.font-black {
    font-weight: 900;
    font-style: normal;
}